[200~ ../1-file/
        ../ANSIBLE/
	        ../AWS NEW/
		        ../AWS notes.txt
			        ../AWS-1/
				        ../AWS_Certified_SysOps_Administrator_Offic.pdf
					        ../Cover letter k.pdf
						        ../DOCKER BY MITHUN/
							        ../Jenkines mithun/
								        ../K8s file/
									        ../K8s/
										        ../Microsoft Edge.lnk
											        ../Monotaring tool/
												        ../NEW handouts + checklists/
													        ../NEXUS MITHUN/
														        ../Naveen Kumar_DevOps.doc.docx
															        ../Naveen kumar_DevOps.doc_06.docx
																        ../PAD.txt
																	        ../PYTHON/
																		        ../Python.docx
																			        ../T.Naveen kumar (1).pdf
																				        ../TARAFFORM/
																					        ../Tulasi - Chrome.lnk
																						        ../WhatsApp.lnk
																							        ../[FreeCoursesOnline.Me] TechWorld - DevOps Bootcamp By Nana/
																								        ../[FreeCoursesOnline.Me] TechWorld - GitLab CI CD - From Zero To Hero By Nana/
																									        ../adj&p/
																										        ../code/
																											        ../core java/
																												        ../cover letter.docx
																													        ../desktop.ini
																														        ../docker running notes/
																															        ../docker/
																																        ../github mithnu/
																																	        ../health cards/
																																		        ../interview questions.zip
																																			        ../interview questions/
																																				        ../k8s-harsha/
																																					        ../lalbasha/
																																						        ../maven mithun/
																																							        ../mithun linux/
																																								        ../mithun shell scripting/
																																									        ../mithutomcat/
																																										        ../naveen/
																																											        ../newk8-byHARSHA/
																																												        ../node of jenkines/
																																													        ../pan card.jpeg
																																														        ../repo/
																																															        ../resume preparation/
																																																        ../script.txt
																																																	        ../scripts/
																																																		        ../sessiuon5 linux.docx
																																																			        ../setup/
																																																				        ../soft copy (2).zip
																																																					        ../soft copy.zip
																																																						        ../soft copy/
																																																							        ../sonarqube mithun/
																																																								        ../visualstudio code playbooks/
																																																									        ../walmart/
																																																										:wq

